.ContainerSkills{
  display: flex;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:center;
  margin: auto;
  padding: 2%;
}
.Skills{
    width: 80%;
    display: flex;  
    justify-content:space-around;
   flex-wrap: wrap;
   flex-direction: row;
   align-content:center;
   flex: 2;
   margin: auto;
}
.Icons{
text-align: center;
display: flex;
flex-direction: column;
}
.ContainerSkills h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 170%;
  color: #111;
  flex: 1;
}

 .Icons img{
   width:100px;
   height: 100px;
 }
 
 .Icons p{
   font-size: 120%;
   letter-spacing: 1px;
 }
 
 
 


 