*{
    text-decoration: none;
}

.middle{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)
}
.card{
    border-style:none;
    cursor: pointer;
    width: 470px;
    height: 400px;
}
.front , .back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility:hidden;
    position: absolute;
    transition: transform .6s linear
}
.front img{
    height: 100%;
}
.back{
    background: #963947;
    transform: perspective(600px) rotateY(180deg);
}
.front{
   
    transform: perspective(600px) rotateY(0deg);
}
.back-content{
    color:purple;
    text-align: center;
    widows: 100%;
}
.sm button {
    background:white;
    text-align: center;
    display: inline-flex;
    /* margin-left: 50%;
    margin-top:50%; */

    /* widows: 100%; */
}

.card:hover >.front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover >.back{
    transform: perspective(600px) rotateY(0deg);
}
