#ContainerContact {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    background-color:lightcoral;
    padding: 5%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
#ContainerContact h1{
  text-align: center;
  align-self: flex-start;
  width: 100%;
  color:#fff;
}
.IconsContact{
  align-self: flex-start;
}
 #ContainerContact .BtnContact{
 width: 90px;
 height: 90px;
 background: transparent;
 margin: 10px; 
 text-align: center;
 
}
#ContainerContact .fa{
    font-size: 45px;
    line-height: 90px;
    transition: 0.2 linear;
    color:#dc3545;
}
#ContainerContact .fa a{
  text-decoration: none;
  text-decoration-line: none;
}
#ContainerContact .fa.fa-code{   
     font-weight: bolder;
}
.Square{
  position: relative;
  width: 50vh;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Square span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #dc3545;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%

}

