.ContainerProjects{
height: 130vh;
background-color:#111;
display: flex;
width: 100%;
position: relative;
overflow: hidden;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
margin: auto;
}

.Projects{
    width: 29%;
    height: 30%;
    background-color:rebeccapurple;
    padding: 2%;
    text-align: center;
    z-index: 10;
}
.Projects img{
    width: 13%;
}
.absolute{
    background:#fff; 
    clip-path: polygon(76% 50%, 100% 14%, 100% 100%, 40% 100%);



    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0;
}