.ContainerSkills{
  display: flex;
  height: 100vh;
  text-align: center;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  padding: 3%;
}
.Skills{
    width: 100%;
    display: flex;  
    justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   align-self: flex-start;
   
}
.ContainerSkills h1{
  align-self: flex-start;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 170%;
  color: #111;
}
 .Icons img{
   width: 63%;
 }
 .Icons{
  text-align: center;
 }
 .Icons p{
   font-size: 120%;
   letter-spacing: 1px;
 }
 
 


 