img {
  height: 60%;
    width: 60%;
}
.Icons{
 height: 30%;
 
}
.Skills{
    width: 100%;
    height: 100vh;
    display: flex;  
    justify-content: space-around; 
    flex-wrap: wrap;
    align-items: center;
 }
 