.carousel{
    width:1000px;
    height:400px;
}
.carousel li{
    background-color: black;
    width: 50px;
    height:5px;
   
}
.carousel-item p{
    font-size: 10%;
    /* line-height: 27px; */
}
.carousel-item  h3{
    font-size: 170%;
    /* line-height: 38px; */
    text-align: center;
    text-transform: uppercase;
    /* -webkit-font-smoothing: antialiased; */
    font-family: "ff-din-web-condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-family: 'Cousine', monospace;
 

}
.title{
padding-bottom:4%;
/* font-family: 'Cousine', monospace; */
}
.luisaPhoto{
    width: 30%;
    height: 30%;
}
.containerSlider{
    margin-top:7%;
}